{layout="layouts/_wrapper"}
<div class="classes-main">
<h1>Classes With No Limits</h1>
{exp:channel:entries channel="class_details" dynamic="no"}
{class_info}
<figure class="class-details-figure">
  <div class="class-details-image">
   {class_info:file wrap="image"}
  </div>
  <figcaption>
    <h3>{class_info:class_name}</h3>
    <p>{class_info:description}</p>
    <div class="price">
      
    </div>
    <a href="{page_url}" class="learn-more">Learn More</a>
  </figcaption>
</figure>
{/class_info}
{/exp:channel:entries}
</div>

