<footer class="glassmorphic-footer">
<div class="footer-contnt">
	<div class="footer-section first-section">
    	<h3>No Limits Martial Arts and Fitness</h3>
        <div class="footer-copyright">
        <p>2024 © All Rights Reserved</p>
        </div>
    </div>
    <div class="footer-section second-section">
   <h3> Follow Us</h3>
    <div class="social-icons">
      <a href="www.facebook.com" target="_blank" class="link"><i class="fa-brands fa-square-facebook"></i></a>
      <a href="www.instagram.com" target="_blank" class="link"><i class="fa-brands fa-square-instagram"></i></a>
      <a href="www.twitter.com" target="_blank" class="link"><i class="fa-brands fa-square-x-twitter"></i></a>
    </div>
  </div>
  <div class="footer-section third-section"><h3>Reach Out!</h3>
  <div class-"footer-links">
 <a href="{url="about/contact"}">Contact Form</a>
 <p>E-mail: reach@nolimitsmaf.com</p>
 <p>Phone: KL5-867-5309</p>
 </div>
  </div>
  </div>
  </footer>