<div popover="auto" class="registration-form" id="registration">
    <h1>Register</h1>
    {exp:member:registration_form return="{path='home/index'}"}
    <!-- heading -->
    <input class="sign-in-up-input" type="text" name="first_name" id="first_name" value="{if first_name}{first_name}{/if}" placeholder="First Name*">
    <input class="sign-in-up-input" type="text" name="last_name" id="last_name" value="{if last_name}{last_name}{/if}" placeholder="Last Name*">
    <p>Choose a Username that will be unique (i.e. jdoe8675309)</p>
    <input class="sign-in-up-input" type="text" name="username" id="username" value="{if username}{username}{/if}" placeholder="User Name*">
    <p>Choose a Display Name that you want other members to see (i.e. John)</p>
    <input class="sign-in-up-input" type="text" name="screenname" id="screenname" value="{if screenname}{screenname}{/if}" placeholder="Display Name*">
    <input class="sign-in-up-input" type="email" placeholder="Email*">
    <input class="sign-in-up-input" type="password" placeholder="Password*">
    <input class="sign-in-up-input" type="password" placeholder="Confirm Password*">
    <label><input class="sign-in-up-input" type="checkbox" name="accept_terms" value="y">I accept the Terms of Service</label>
    <input class="sign-in-up-button" type="submit" value="Register" />
    <!-- input fields end -->
    {/exp:member:registration_form}
</div>