{exp:member:login_form return="member/login/success"}
<div popover="auto" class="login-form" id="login">
    <div class="nolimits-login">	
        <h2>Sign In</h2>
           <p> <label for="username">Username</label><br/>
            <input type="text" name="username" id="username" value="{if username}{username}{/if}"/></p><p>
           <label for="password">Password</label><br/>
        <input type="password" name="password" id="password" value="{if password}{password}{/if}"/></p>
        <button class="login-btn"  type="submit" value="Login"class="login-btn">Sign In</button>
</div>
{/exp:member:login_form}
</div>
