{layout="layouts/_wrapper"}
<div class="sign-in-up-all">
<div class="sign-in-up-container">
    <div class="welcome">
        <div class="mainbox">
            <div class="signup nodisplay">
                <h1>Register</h1>
                {exp:member:registration_form return="{path='home/index'}"}
                <!-- heading -->
                <input class="sign-in-up-input" type="text" name="first_name" id="first_name" value="{if first_name}{first_name}{/if}" placeholder="First Name*">
                <input class="sign-in-up-input" type="text" name="last_name" id="last_name" value="{if last_name}{last_name}{/if}" placeholder="Last Name*">
                <p>Choose a Username that will be unique (i.e. jdoe8675309)</p>
                <input class="sign-in-up-input" type="text" name="username" id="usernamesu" value="{if username}{username}{/if}" placeholder="User Name*">
                <p>Choose a Display Name that you want other members to see (i.e. John)</p>
                <input class="sign-in-up-input" type="text" name="screenname" id="screenname" value="{if screenname}{screenname}{/if}" placeholder="Display Name*">
                <input class="sign-in-up-input" type="email" placeholder="Email*">
                <input class="sign-in-up-input" type="password" placeholder="Password*">
                <input class="sign-in-up-input" type="password" placeholder="Confirm Password*">
                <label><input class="sign-in-up-input" type="checkbox" name="accept_terms" value="y">I accept the Terms of Service</label>
                <input class="sign-in-up-button" type="submit" value="Register" />
                <!-- input fields end -->
                {/exp:member:registration_form}
            </div>
            <div class="signin">
                <h1>Sign In</h1>
                {exp:member:login_form}
                <!-- heading -->


                <!-- input fields start -->
                <input class="sign-in-up-input" type="username" name="username" id="usernamesi" value="{if username}{username}{/if}" placeholder="Username">
                <input class="sign-in-up-input" type="password" name="password" id="password" value="{if password}{password{/if}" placeholder="Password">
                <span>Forgot your <span class="forgot">password?</span></span>
                <button class="sign-in-up-button bb">Login</button>
                <!-- input fields end -->
                {/exp:member:login_form}
            </div>
        </div>
        <div class="leftbox">
            <h2 class="title"><span>No Limits</span><br>Martial Arts and Fitness</h2>
            <img class="flower smaller" src="https://nolimitsmaf.great-site.net/uploads/images/Logo/NLMAF_LOGO_2shues_smallcropped.png" alt="No Limits Logo" border="0">
            <p class="account">Have an account?</p>
            <button class="button bb" id="signin">Login</button>
        </div>
        <div class="rightbox">
            <h2 class="title"><span>No Limits</span>&<br>Martial Arts and Fitness</h2>

            <img class="flower" src="https://nolimitsmaf.great-site.net/uploads/images/Logo/NLMAF_LOGO_2shues_smallcropped.png"/>
            <p class="account">Don't have an account?</p>
            <button class="button bb" id="signup">Sign Up</button>
        </div>
    </div>
</div>
</div>
<script>
    const signUpButton = document.getElementById("signup");
    const signInButton = document.getElementById("signin");
    let mainBox = document.getElementsByClassName("mainbox")[0];
    let signUp = document.getElementsByClassName("signup")[0];
    let signIn = document.getElementsByClassName("signin")[0];

    signUpButton.addEventListener("click", () => {
        mainBox.style.transform = 'translate(80%)';
        signIn.classList.add("nodisplay");
        signUp.classList.remove("nodisplay");
    });

    signInButton.addEventListener("click", () => {
        mainBox.style.transform = 'translateX(0%)';
        signUp.classList.add("nodisplay");
        signIn.classList.remove("nodisplay");
    });</script>

