{layout="layouts/_wrapper"}
<div class="container" id="container">

    <!-- sign Up form section start-->
    <div class="form sign_up">
    	<p>* Required</p>
      {exp:member:registration_form return="{path='home/index'}"}
        <!-- heading -->
        <fieldset>
        <h1>Create An Account</h1>
    	<input type="text" name="first_name" id="first_name" value="{if first_name}{first_name}{/if}" placeholder="First Name*">
		<input type="text" name="last_name" id="last_name" value="{if last_name}{last_name}{/if}" placeholder="Last Name*">
		<p>Choose a User Name that will be unique (i.e jdoe8675309)</p>
        <input type="text" name="username" id="username" value="{if username}{username}{/if}" placeholder="User Name*">
		<p>Choose a Display Name that you want other members to see (i.e. John)</p>
		<input type="text" name="screenname" id="screenname" value="{if screenname}{screenname}{/if}" placeholder="Display Name*">
        <input type="email" placeholder="Email*">
        <input type="password" placeholder="Password*">
		<input type="password" placeholder="Confirm Password*">
		<label><input type="checkbox" name="accept_terms" value="y">I accept the Terms of Service</label>
        <input type="submit" value="Register" calss="sign-up-bttn"/>
        </fieldset>
        <!-- input fields end -->
      {/exp:member:registration_form}
    </div>
    <!-- sign Up form section end-->

    <!-- sign in form section start-->
    <div class="form sign_in">
      {exp:member:login_form}
        <!-- heading -->
        <h1>Login In</h1>
      
        <!-- input fields start -->
        <input type="email" name="email" id="email" value="{if email}{email}{/if}" placeholder="Email">
        <input type="password" name="password" id="password" value="{if password}{password{/if}" placeholder="Password">
        <span>Forgot your <span class="forgot">password?</span></span>
        <button>Login</button>
        <!-- input fields end -->
      {/exp:member:login_form}
    </div>
    <!-- sign in form section end-->

    <!-- overlay section start-->
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-pannel overlay-left">
          <h1>Already have an account</h1>
          <p>Please Login</p>
          <button id="signIn" class="overBtn">SignIn</button>
        </div>
        <div class="overlay-pannel overlay-right">
          <h1>Create Account</h1>
          <p>Start Your Journey with Us</p>
          <button id="signUp" class="overBtn">Sign Up</button>
        </div>
      </div>
    </div>
    <!-- overlay section start-->
  </div>