@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic);

.classes-main {
	display:grid;
    width:100%;
    color:var(--color-on-surface);
    min-height:100vh;
    overflow:hidden;
    margin-left:30px;
}










