.class-details-main{
	display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    margin-left:25px;
    margin-right:25px;
}
.class-details-heading{
	text-align:center;
    color:var(--color-on-surface);
    width:100%;
}
.class-details-image{
	object-fit:cover;
    width:25%;
    img{
  	width:100%;

    }
    
}
.tkd-long-description{
	max-width:50%;
	background:rgba(207, 69, 0, 0.7);
    backdrop-filter:blur(7px);
    padding:20px;
    color:var(--color-on-primary-container);
}
