/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');


.protest-revolution-regular {
  font-family: "Protest_Revolution", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h1, h2, h3, h4, h5, h6{
    font-family: "Protest Revolution", serif;
}
p {
font-size:18pt;
}

body{
width: 100%;
height: 100%;
margin: 0;
padding: 0;
overflow-x: hidden;
overflow-y: scroll;
overscroll-behavior:none;
 /* background: #ff0000;
  background: linear-gradient(
    to top,
    #ff0000,#fdcf58,#fdcf58
  ) center center fixed;*/
/*background: rgb(238,43,10);
background: linear-gradient(45deg, rgba(238,43,10,1) 0%, rgba(241,151,6,1) 35%, rgba(241,246,13,1) 100%) center center fixed;*/
  background-image:url(https://nolimitsmaf.great-site.net/uploads/images/flames-1645399_1280.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  
}

.breadcrumbs{
	color:var(--color-inverse-on-surface);
    padding-left:30px;
	a{
    	text-decoration:none;
        font-size:large;
        color:var(--color-inverse-on-surface);
    }
}

:root {
    --nlmaaf-display-small: Roboto;

    /* font sizes */
    --nlmaaf-display-small-size: 2.25rem;
    --m3-label-large-size: 0.875rem;
    --m3-body-small-size: 0.75rem;
    --gap-xl: 1.25rem;
    --gap-2xs-3: 0.643rem;
  
    /* Paddings */
    --padding-xl: 1.25rem;
    --padding-2xs: 0.687rem;
    --padding-smi-5: 0.781rem;
  
    /* Effects */
    --m3-elevation-light-1: 0px 1px 2px rgba(0, 0, 0, 0.3),
      0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  
    --transition: 250ms ease-out;

    /* Colors */
    --color-primary: rgb(255 181 155);
    --color-surface-tint: rgb(255 181 155);
    --color-on-primary: rgb(92 26 0);
    --color-primary-container: rgb(207 69 0);
    --color-on-primary-container: rgb(255 255 255);
    --color-secondary: rgb(255 255 255);
    --color-on-secondary: rgb(50 50 0);
    --color-secondary-container: rgb(219 219 0);
    --color-on-secondary-container: rgb(66 66 0);
    --color-tertiary: rgb(190 194 255);
    --color-on-tertiary: rgb(0 1 172);
    --color-tertiary-container: rgb(0 0 230);
    --color-on-tertiary-container: rgb(215 216 255);
    --color-error: rgb(255 180 168);
    --color-on-error: rgb(105 0 0);
    --color-error-container: rgb(224 0 0);
    --color-on-error-container: rgb(255 255 255);
    --color-background: rgb(30 16 11);
    --color-on-background: rgb(249 221 212);
    --color-surface: rgb(19 19 20);
    --color-on-surface: rgb(228 226 226);
    --color-surface-variant: rgb(75 70 62);
    --color-on-surface-variant: rgb(205 197 187);
    --color-outline: rgb(150 144 134);
    --color-outline-variant: rgb(75 70 62);
    --color-shadow: rgb(0 0 0);
    --color-scrim: rgb(0 0 0);
    --color-inverse-surface: rgb(228 226 226);
    --color-inverse-on-surface: rgb(48 48 49);
    --color-inverse-primary: rgb(170 55 0);
    --color-primary-fixed: rgb(255 219 207);
    --color-on-primary-fixed: rgb(56 13 0);
    --color-primary-fixed-dim: rgb(255 181 155);
    --color-on-primary-fixed-variant: rgb(129 40 0);
    --color-secondary-fixed: rgb(234 234 0);
    --color-on-secondary-fixed: rgb(29 29 0);
    --color-secondary-fixed-dim: rgb(205 205 0);
    --color-on-secondary-fixed-variant: rgb(73 73 0);
    --color-tertiary-fixed: rgb(224 224 255);
    --color-on-tertiary-fixed: rgb(0 0 110);
    --color-tertiary-fixed-dim: rgb(190 194 255);
    --color-on-tertiary-fixed-variant: rgb(0 0 239);
    --color-surface-dim: rgb(19 19 20);
    --color-surface-bright: rgb(57 57 58);
    --color-surface-container-lowest: rgb(13 14 15);
    --color-surface-container-low: rgb(27 28 28);
    --color-surface-container: rgb(31 32 32);
    --color-surface-container-high: rgb(41 42 43);
    --color-surface-container-highest: rgb(52 53 53);
}


  
