/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');


.protest-revolution-regular {
  font-family: "Protest_Revolution", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h1, h2, h3, h4, h5, h6{
font-family:"Protest Revolution";
}
p {
font-size:18pt;
}

body{
width: 100%;
height: 100%;
margin: 0px;
padding: 0px;
overflow-x: hidden;
overflow-y: scroll;
overscroll-behavior:none;
 /* background: #ff0000;
  background: linear-gradient(
    to top,
    #ff0000,#fdcf58,#fdcf58
  ) center center fixed;*/
/*background: rgb(238,43,10);
background: linear-gradient(45deg, rgba(238,43,10,1) 0%, rgba(241,151,6,1) 35%, rgba(241,246,13,1) 100%) center center fixed;*/
  background-image:url(https://nolimitsmaf.great-site.net/uploads/images/flames-1645399_1280.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  
}

.breadcrumbs{
	color:var(--color-inverse-on-surface);
    padding-left:30px;
	a{
    	text-decoration:none;
        font-size:large;
        color:var(--color-inverse-on-surface);
    }
}

:root {
    --nlmaaf-display-small: Roboto;

    /* font sizes */
    --nlmaaf-display-small-size: 2.25rem;
    --m3-label-large-size: 0.875rem;
    --m3-body-small-size: 0.75rem;
    --gap-xl: 1.25rem;
    --gap-2xs-3: 0.643rem;
  
    /* Paddings */
    --padding-xl: 1.25rem;
    --padding-2xs: 0.687rem;
    --padding-smi-5: 0.781rem;
  
    /* Effects */
    --m3-elevation-light-1: 0px 1px 2px rgba(0, 0, 0, 0.3),
      0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  
    --transition: 250ms ease-out;

    /* Colors */
 --color-primary: rgb(131 217 221);
  --color-surface-tint: rgb(126 212 216);
  --color-on-primary: rgb(0 26 27);
  --color-primary-container: rgb(84 171 175);
  --color-on-primary-container: rgb(0 0 0);
  --color-secondary: rgb(255 222 170);
  --color-on-secondary: rgb(58 38 0);
  --color-secondary-container: rgb(239 173 33);
  --color-on-secondary-container: rgb(0 0 0);
  --color-tertiary: rgb(255 187 157);
  --color-on-tertiary: rgb(45 12 0);
  --color-tertiary-container: rgb(231 109 44);
  --color-on-tertiary-container: rgb(0 0 0);
  --color-error: rgb(255 186 177);
  --color-on-error: rgb(55 0 1);
  --color-error-container: rgb(255 84 73);
  --color-on-error-container: rgb(0 0 0);
  --color-background: rgb(16 20 20);
  --color-on-background: rgb(224 227 227);
  --color-surface: rgb(16 20 20);
  --color-on-surface: rgb(248 251 251);
  --color-surface-variant: rgb(62 73 73);
  --color-on-surface-variant: rgb(194 205 205);
  --color-outline: rgb(154 165 165);
  --color-outline-variant: rgb(122 133 133);
  --color-shadow: rgb(0 0 0);
  --color-scrim: rgb(0 0 0);
  --color-inverse-surface: rgb(224 227 227);
  --color-inverse-on-surface: rgb(38 43 43);
  --color-inverse-primary: rgb(0 81 83);
  --color-primary-fixed: rgb(155 241 245);
  --color-on-primary-fixed: rgb(0 20 21);
  --color-primary-fixed-dim: rgb(126 212 216);
  --color-on-primary-fixed-variant: rgb(0 61 63);
  --color-secondary-fixed: rgb(255 222 170);
  --color-on-secondary-fixed: rgb(26 15 0);
  --color-secondary-fixed-dim: rgb(255 186 48);
  --color-on-secondary-fixed-variant: rgb(74 50 0);
  --color-tertiary-fixed: rgb(255 219 204);
  --color-on-tertiary-fixed: rgb(36 8 0);
  --color-tertiary-fixed-dim: rgb(255 182 149);
  --color-on-tertiary-fixed-variant: rgb(96 35 0);
  --color-surface-dim: rgb(16 20 20);
  --color-surface-bright: rgb(54 58 58);
  --color-surface-container-lowest: rgb(11 15 15);
  --color-surface-container-low: rgb(24 28 28);
  --color-surface-container: rgb(28 32 32);
  --color-surface-container-high: rgb(38 43 43);
  --color-surface-container-highest: rgb(49 54 54);
}

  
