nav {

	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	align-content:space-between;
	font-family:"Protest Revolution";
	font-size: 1.5em;
	 background:linear-gradient(45deg, rgba(239,173,33, 0.4), rgba(239,173, 33, 0.2));
backdrop-filter: blur(3px);
box-shadow: 0 0 20px #000;
    border-radius: 15px;
    border: 2px solid rgba(144, 77, 0, 0.5);
		/*background: rgba( 255, 255, 0, 0.2);*/
	color: var(--color-on-surface);
	margin:50px 0;
	
}


#nav-sub {
	display:flex;
	padding: 15px 30px;
	color:var(--color-on-surface);
	text-align: center;
	border-radius: 20px;
	text-decoration: none;
	margin:0;
	align-self:baseline;
	transition: background 0.2s ease-out;
	justify-self:start;
	li {
		list-style:none;
	}
	
}

.nav-logo{
margin:0;
box-sizing:border-box;
padding-left:1em;
justify-self:start;
font-size:larger;
}

.nav-signin{
padding: 15px 30px;
justify-self:end;
align-self:baseline;
	color: var(--color-on-surface);
	border-radius: 20px;
	text-decoration: none;
	transition: background 0.2s ease-out;
	 background-color: transparent;
	 border-width:0;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
}
nav ul {
	padding: 0;
  margin: 0;
	list-style: none;
	position: relative;
	
	}
	
nav ul li {
	display:inline-block;
	
	}

nav a {
	display:block;
	padding:0 10px;	
	color:#FFF;
	font-size:20px;
	line-height: 60px;
	text-decoration:none;
}

nav a:hover { 
	background-color:var(--color-tertiary); 
}

/* Hide Dropdowns by Default */
nav ul ul {
	display: none;
	position: absolute; 
	top: 60px; /* the height of the main nav */
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}
	
/* Fisrt Tier Dropdown */
nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	 background:linear-gradient(45deg, rgba(239,173,33, 0.4), rgba(239,173, 33, 0.2));
backdrop-filter: blur(3px);
box-shadow: 0 0 20px #000;

}
nav ul ul li:first-of-type{
margin-top:20px;
}
/* Second, Third and more Tiers	*/
nav ul ul ul li {
	position: relative;
	top:-60px; 
	left:170px;
}

	
/* Change this in order to change the Dropdown symbol */
li > a:after { content:  ' +'; }
li > a:only-child:after { content: ''; }

nav a{
	
	padding: 15px 30px;
	color: var(--color-on-surface);
	border-radius: 20px;
	text-decoration: none;
	transition: background 0.2s ease-out;

}

nav a:hover, .nav-signin:hover {
	background:rgba(22,42,81, 0.5);
	color:var(--color-tertiary-container);
}

