nav {
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	align-content:space-between;
	font-family:"Protest Revolution";
	font-size: 1.5em;
	 background:linear-gradient(45deg, rgba(237, 198, 112, 0.6), rgba(237, 198,112, 0.4));
backdrop-filter: blur(4px);
box-shadow: 0 0 20px #000;
    border-radius: 15px;
    border: 2px solid rgba(93, 68, 0, 0.5);
		/*background: rgba( 255, 255, 0, 0.2);*/
	color: var(--color-on-secondary-container);
	margin:0;
	
}


#nav-sub {
	display:flex;
	padding: 15px 30px;
	color:var(--color-on-primary);
	text-align: center;
	border-radius: 20px;
	text-decoration: none;
	margin:0;
	align-self:baseline;
	transition: background 0.2s ease-out;
	justify-self:start;
	li {
		list-style:none;
	}
	
}

.nav-logo{
margin:0;
box-sizing:border-box;
padding-left:1em;
justify-self:start;
font-size:larger;
}

.nav-signin{
padding: 15px 30px;
justify-self:end;
align-self:baseline;
	color: var(--color-on-primary);
	border-radius: 20px;
	text-decoration: none;
	transition: background 0.2s ease-out;
	 background-color: transparent;
	 border-width:0;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
}


nav a{
	
	padding: 15px 30px;
	color: var(--color-on-primary);
	border-radius: 20px;
	text-decoration: none;
	transition: background 0.2s ease-out;

}

nav a:hover, .nav-signin:hover {
	background:rgba(255, 0, 0, 0.5);;
	color:var(--color-primary);
}

