.news-container {
    display:flex;
    min-height:60vh;
    width:100vw;
    flex-direction:row;
    flex-wrap:wrap;
}



.news-main {
    max-width: 1200px;
    margin: 0 auto;
}

.cards {
    display: flex;
  flex-direction:row;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left:25px;
}

.cards_item {
    display: flex;
    padding: 1rem;
}

.card_image {
    display:flex;
    justify-content:center;
    width: 100%;
    height:50%;
    object-fit: cover;
}

@media (max-width: 40rem) {
    .cards_item {
        width: 320px;
    }
}

@media (min-width: 40rem) {
    .cards_item {
        width: 50%;
    }
}

@media (min-width: 56rem) {
    .cards_item {
        width: 33.3333%;
    }
}

.card {
    background: linear-gradient(60deg, rgba(239,173,33,0.6) 0%, rgba(231,109,44,0.4) 50%, rgba(255,0,0,0.2) 100%);
    backdrop-filter: blur(6px);
    border-radius: 0.25rem;
    box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: fit-content;

    .card_text {
        line-height: 1.2em;

        p {
            padding: 0;
            margin: 0 0 1.2em;
        }
    }

    &.truncated {
        padding: 0;
        position: relative;
        .card_text {
            max-height: 4.85em;
            overflow: hidden;
        }

        .read-more {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 8px;
            appearance: none;
            background: transparent;
            border: 0;
            color: var(--color-on-surface);
            padding: 0;
            cursor: pointer;
        }

        .read-less {
            display: none;
        }
    }
}

.card_content {
    padding: 1rem;
}

.card_title {
    border-bottom: 1px solid gainsboro;
}

.card_text {
}

.title {
    color: var(--color-secondary);
    text-shadow: 0.7px 0.7px 1px rgba(0,0,0, 0.5);
}

.read-more {
    display: none;
}

.read-less {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 8px;
    appearance: none;
    background: transparent;
    border: 0;
    color: var(--color-secondary);
    padding: 0;
    cursor: pointer;
}