.about {
	
	display:flex;
    width:100%;
    flex-wrap:wrap;
    flex-direction:column;
    color:var(--color-on-surface);
    align-items:start;
    justify-content:center;
    height:min-content;
    margin-left:20px;

}

.contact{
display:flex;
flex-direction:row;
flex-wrap:nowrap;
width:max-content;
margin:0 auto;
margin-top:20px;
padding: 20px;
color:var(--color-on-primary-container);
border-radius: 15px;
background: linear-gradient(
    45deg,
    rgba(207 ,69 ,0 ,0.5),
    rgba(219, 219 ,0, 0.6)
  );
  backdrop-filter: blur(4px);
  box-shadow: 0 0 20px #000;
  border-top: 2px solid rgba(190, 194, 255, 0.3);
  border-left: 2px solid rgba(190, 194, 255, 0.5);
}
.contact-image{
padding-top:90px;
padding-left:55px;
}
.staff-card {
  width: 250px;
  height: auto;
  padding: 20px;
  background: linear-gradient(
    45deg,
    rgba(219, 219, 0, 0.3),
    rgba(207, 69, 0, 0.4)
  );
  backdrop-filter: blur(4px);
  box-shadow: 0 0 20px #000;
    border-top: 2px solid rgba(190, 194, 255, 0.3);
    border-left: 2px solid rgba(190, 194, 255, 0.5);
}

.staff-card img {
  width: 150px;
  border-radius: 50%;
  border: 2px solid var(--color-tertiary);
}

.staff-card h2 {
  color: var(--color-on-primary-container);
  font-weight: normal;
  font-size: 25px;
}

.staff-card p {
  color: var(--color-on-primary-container);
  text-align: justify;
  font-size: 15px;
}

.contact-submit{
  display: inline-block;
  padding:15px;
  border-radius:10px;
  border:4px solid var(tertiary);
  font-size: 22px;
  background:var(--color-tertiary-container);
  margin-right: 10px;
  color: var(--color-on-tertiary-container);
  transition: 0.4s all;
  cursor: pointer;
}

.about-story{
margin:15px;
padding:20px;
}

.about-title{
margin:0;
padding:015px
}

.contact-form h2{
    font-size:2em;
    color:var(--color-on-primary-container);
}

.contact-form label{
    font-size:1.5em;
}