.about {
	
	display:flex;
    width:100%;
    flex-wrap:wrap;
    flex-direction:column;
    color:var(--color-on-primary);
    align-items:start;
    justify-content:center;
    height:min-content;

}

.contact{
display:flex;
flex-direction:row;
flex-wrap:nowrap;
width:max-content;
margin:0 auto;
margin-top:20px;
padding: 20px;
color:var(--color-on-primary);
border-radius: 15px;
background: linear-gradient(
    45deg,
    rgba(255, 150, 44, 0.5),
    rgba(255, 150, 44, 0.6)
  );
  backdrop-filter: blur(4px);
  box-shadow: 0 0 20px #000;
  border-top: 2px solid rgba(144, 77, 0, 0.25);
  border-left: 2px solid rgba(144, 77, 0, 0.2);
}
.contact-image{
padding-top:90px;
padding-left:55px;
}
.staff-card {
  width: 250px;
  height: auto;
  padding: 20px;
  background: linear-gradient(
    45deg,
    rgba(255, 150, 44, 0.1),
    rgba(255, 150, 44, 0.2)
  );
  backdrop-filter: blur(4px);
  box-shadow: 0 0 20px #000;
  border-top: 2px solid rgba(144, 77, 0, 0.25);
  border-left: 2px solid rgba(144, 77, 0, 0.2);
}

.staff-card img {
  width: 150px;
  border-radius: 50%;
  border: 2px solid var(--color-primary);
}

.staff-card h2 {
  color: #fff;
  font-weight: normal;
  font-size: 25px;
}

.staff-card p {
  color: var(--color-on-primary);
  text-align: justify;
  font-size: 15px;
}

.contact-submit{
  display: inline-block;
  padding:15px;
  border-radius:10px;
  border:4px solid var(--color-primary);
  font-size: 22px;
  background:rgba(255,189,73,0.5);
  backdrop-filter:blur(4px);
  margin-right: 10px;
  color: var(--color-on-tertiary-container);
  transition: 0.4s all;
  cursor: pointer;
}

.about-story{
margin:15px;
padding:20px;
}

.about-title{
margin:0;
padding:015px
}