<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>No Limits Martial Arts and Fitness</title>
			<link rel="stylesheet" href="{stylesheet="styles/global"}">
			<link rel="stylesheet" href="{stylesheet="styles/nav"}"/>
			<link rel="stylesheet" href="{stylesheet="styles/footer"}"/>
			<link rel="stylesheet" href="{stylesheet="styles/homepage"}"/>
			<link rel="stylesheet" href="{stylesheet="styles/sign_in"}"/>
			<link rel="stylesheet" href="{stylesheet="styles/sign_up"}"/>
			<link rel="stylesheet" href="{stylesheet="styles/classes"}"/>
			<link rel="stylesheet" href="{stylesheet="styles/staff_card"}"/>
			<script src="js/vanilla_tilt.js"></script>
			<script src="https://kit.fontawesome.com/d662f2adf5.js" crossorigin="anonymous"></script>
		</head>
		<body>
		
			{nav}
				
				{layout:contents}
			
				{footer}
		</body>
		
	</html>